{% load staticfiles %}
<!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span> </div>
                        <!-- /input-group -->
                    </li>
                
					<!--/Main-Menu-->

                    <li>
                        <a href="/list/operacion" class="waves-effect">
                            <i data-icon="P" class="linea-icon linea-basic fa-fw"></i>
                            <span class="hide-menu">Operaciones</span></a>
                    </li>
                     <li>
                        <a href="/list/cliente" class="waves-effect">
                            <i class="icon-people p-r-10"></i>
                            <span class="hide-menu">Clientes</span></a>
                    </li>
                    <li>
                        <a href="/list/caja" class="waves-effect">
                            <i class="icon-social-dropbox  p-r-10"></i>
                            <span class="hide-menu">Cajas</span></a>
                    </li>
                    <li>
                        <a href="/list/patio" class="waves-effect">
                            <i data-icon="Z" class="linea-icon linea-basic fa-fw"></i>
                            <span class="hide-menu">Patio</span></a>
                    </li>
                    <li>
                        <a href="/list/servicio" class="waves-effect">
                            <i class="fa fa-usd p-r-10"></i>
                            <span class="hide-menu">Servicios</span></a>
                    </li>
                    <li>
                        <a href="/list/camion" class="waves-effect">
                            <i class="ti-truck"></i>
                            <span class="hide-menu">Camiones</span></a>
                    </li>
                    <li>
                        <a href="/list/operador" class="waves-effect">
                            <i class="fa fa-users p-r-10"></i>
                            <span class="hide-menu">Operadores</span></a>
                    </li>
              <!--      <li class="disabled2">
                        <a href="/clientes" class="waves-effect">
                            <i data-icon="U" class="linea-icon linea-ecommerce"></i>
                            <span class="hide-menu">Reportes</span></a>
                    </li> -->
                    <li>
                        <a href="/list/factura" class="waves-effect">
                            <i data-icon="3" class="linea-icon linea-ecommerce"></i>
                            <span class="hide-menu">Facturación</span></a>
                    </li>
                    <li>
                        <a href="/payments" class="waves-effect">
                            <i data-icon="&#xe01b;" class="linea-icon linea-basic"></i>
                            <span class="hide-menu">Contabilidad</span></a>
                    </li>
               
                </ul>
            </div>
        </div>
<!-- Left navbar-header end -->