{% load staticfiles %}
<!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Panel de Administración <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul>
                                <a href="/admin/auth/"><i class="fa fa-user text-inverse m-r-10"></i> Usuarios y Grupos </a>
                            </ul>

                        </div>
                    </div>
                </div>
<!-- /.right-sidebar -->