{% load staticfiles %}
<!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Panel de Administración <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul>
								/---- 
                            </ul>
                            
							<ul id="themecolors" class="m-t-20">
								/---
							</ul>
                            
							<ul class="m-t-20 chatonline">
								/---   
                            </ul>
                        </div>
                    </div>
                </div>
<!-- /.right-sidebar -->