{% load staticfiles %}
<!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Panel de Administración <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul>
                                <li><b><i class="fa fa-usd p-r-10"></i>Tasa de cambio</b></li>
                                <li><b><i class="fa fa-user p-r-10"></i>Gestionar de usuario</b></li>
                            </ul>

                        </div>
                    </div>
                </div>
<!-- /.right-sidebar -->