{% extends "base.html" %}
{% load staticfiles %}

{% block main-content %}
     <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading"> Cliente <span class="pull-right">#{{ object.id }}</span></div>
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body">
                                        <div class="form-body">
                                            <h3 class="box-title">Datos Personales:</h3>
                                            <hr class="m-t-0 m-b-40">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Nombre:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ object.usuario.first_name }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Usuario:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ object.usuario }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">País:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ object.get_pais_display }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Estado:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ object.estado }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Dirección:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ object.direccion }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Código Postal:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{ object.cpostal }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">RFC:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">  {{ object.rfc }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Telefono:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">{{ object.telefono }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Credito:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">  {{ object.credito }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Facturación:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">  {{ object.facturacion }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">TAX:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">  {{ object.tax }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Descripción:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static">  {{ object.descripcion }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>

                                            <div class="col-md-12">
                                            <div class="table-responsive m-t-40" style="clear: both;">
                                                <h3 class="box-title m-b-0">Contactos</h3>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Contacto</th>
                                                            <th class="text-center">Tipo</th>
                                                            <th class="text-center">Telefono</th>
                                                            <th class="text-center">Correo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       {% for f in ccliente %}
                                                        <tr>
                                                            <td class="text-center">{{ f.contacto }}</td>
                                                            <td class="text-center">{{ f.get_tipo_display }}</td>
                                                            <td class="text-center">{{ f.telefono }}</td>
                                                            <td class="text-center">{{ f.email }}</td>
                                                        </tr>
                                                       {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="table-responsive m-t-40" style="clear: both;">
                                                <h3 class="box-title m-b-0">Despachadores</h3>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Nombre</th>
                                                            <th class="text-center">Radio</th>
                                                            <th class="text-center">Telefono</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       {% for f in despachadores %}
                                                        <tr>
                                                            <td class="text-center">{{ f.nombre }}</td>
                                                            <td class="text-center">{{ f.radio }}</td>
                                                            <td class="text-center">{{ f.telefono }}</td>
                                                        </tr>
                                                       {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="table-responsive m-t-40" style="clear: both;">
                                                <h3 class="box-title m-b-0">Consignatarios</h3>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Nombre</th>
                                                            <th class="text-center">Usuario</th>
                                                            <th class="text-center">Correo</th>
                                                            <th class="text-center">Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       {% for f in consignatarios %}
                                                        <tr>
                                                            <td class="text-center">{{ f.usuario.first_name }}</td>
                                                            <td class="text-center">{{ f.usuario }}</td>
                                                            <td class="text-center">{{ f.usuario.email }}</td>
                                                            <td class="text-center">
                                                                <a href="/update/consignatario/{{ f.id }}" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                                <a href="/delete/consignatario/{{ f.id }}" data-toggle="tooltip" data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>

                                                            </td>
                                                        </tr>
                                                       {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                </div>
                            </div>
                            <div class="form-actions" style="margin-left: 25px; padding-bottom: 25px;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn btn-info" onclick="window.location.href='{% url 'update' 'cliente' object.id %}'"> <i class="fa fa-pencil"></i> Editar</button>
                                                            <button type="button" class="btn btn-default" onclick="window.history.go(-1);">Regresar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> </div>
                                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock %}

{% block css %}

{% endblock %}


{% block js %}


{% endblock %}