{% extends "base.html" %}
{% load staticfiles %}


{% block main-content %}
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="white-box">
                <div class="r-icon-stats"><i class="ti-download bg-megna"></i>
                    <div class="bodystate">
                        <h4>{{ importacion }}</h4> <span class="text-muted">Importaciones</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="white-box">
                <div class="r-icon-stats"><i class="ti-upload bg-info"></i>
                    <div class="bodystate">
                        <h4>{{ exportacion }}</h4> <span class="text-muted">Exportaciones</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="white-box">
                <div class="r-icon-stats"><i class="fa fa-spin fa-cog bg-success"></i>
                    <div class="bodystate">
                        <h4>{{ proceso }}</h4> <span class="text-muted">En proceso</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="white-box">
                <div class="r-icon-stats"><i class="fa fa-times bg-danger"></i>
                    <div class="bodystate">
                        <h4>{{ cancelada }}</h4> <span class="text-muted">Canceladas</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="white-box">
                <h3 class="box-title m-b-0">Nuevos Clientes</h3>
                <p class="text-muted"></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Usuario</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in clientes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ c.usuario.first_name }}</td>
                                <td>{{ c.usuario }}</td>
                                <td>
                                    {% if c.usuario.is_active %}
                                        <span class="label label-success">Activo</span>
                                    {% else %}
                                        <span class="label label-danger">Inactivo</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="white-box">
                <h3 class="box-title m-b-0">Productividad Operadores</h3>
                <p class="text-muted"></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}

{% endblock %}


{% block js %}

{% endblock %}