{% extends "base.html" %}
{% block main-content %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    <form action="" data-toggle="validator"  method="post">{% csrf_token %}
                                        <div class="form-body">
                                            <h3 class="box-title">{% if accion == 'update' %}Editar Operación{% else %}Agregar Operación{% endif %}</h3>
                                            <hr>
                                            <div class="row">
                                                {% for field in form %}
                                                    <div class="col-md-6 {{ field.name }}">
                                                    <div class="form-group">
                                                        <label class="control-label">{{ field.label_tag }}</label>
                                                        {% if field.name == "servicio" %}
                                                            <select name="servicio" required="" class="form-control select2" id="id_servicio">
                                                              <option value="" selected="">---------</option>
                                                            </select>
                                                        {% else %}
                                                        {% if field.name == "consignatario" %}
                                                            <select name="consignatario" required="" class="form-control select2" id="id_consignatario">
                                                              <option value="" selected="">---------</option>
                                                            </select>
                                                        {% else %}
                                                        {% if field.name == "caja" %}
                                                            <select name="caja" required="" class="form-control select2" id="id_caja">
                                                              <option value="" selected="">---------</option>
                                                            </select>
                                                        {% else %}
                                                        {{ field }}
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endif %}
                                                        {% if field.errors %}
                                                            {% for f in field.errors%}
                                                                <span class="alert-block"><small>{{ f|safe }}</small></span>
                                                            {% endfor %}
                                                        {% else %}
                                                           {% if field.help_text %}
                                                            <span class="help-block"><small>{{ field.help_text|safe }}</small></span>
                                                        {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Agregar</button>
                                            <button type="button" class="btn btn-default" onclick="window.history.go(-1);">Cancelar</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block css %}
    <link href="/static/system/plugins/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="/static/system/plugins/bower_components/custom-select/custom-select.css" rel="stylesheet" type="text/css" />
    <link href="/static/system/plugins/bower_components/bootstrap-datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

{% endblock %}
{% block js %}
    <script src="/static/system/plugins/bower_components/switchery/dist/switchery.min.js"></script>
    <script src="/static/system/plugins/bower_components/custom-select/custom-select.min.js" type="text/javascript"></script>
    <script src="/static/system/plugins/bower_components/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/system/plugins/bower_components/bootstrap-datepicker/bootstrap-datetimepicker.es.js"></script>
    <script src="/static/system/plugins/bower_components/blockUI/jquery.blockUI.js"></script>
    <script src="/static/system/js/jquery.formset.js"></script>
    <script src="/static/system/js/validator.js"></script>
    <script>
            jQuery(document).ready(function () {
                $( "#id_cliente" ).change(function() {
                    $('div.servicio').block({
                                    message: '<h4><img src="/static/system/plugins/images/busy.gif" />Cargando..</h4>', css: {
                                        border: '1px solid #fff'}});
                    $('div.consignatario').block({
                                    message: '<h4><img src="/static/system/plugins/images/busy.gif" />Cargando..</h4>', css: {
                                        border: '1px solid #fff'}});
                    $('div.caja').block({
                                    message: '<h4><img src="/static/system/plugins/images/busy.gif" />Cargando..</h4>', css: {
                                        border: '1px solid #fff'}});
                    ajaxPost('/ajax/operacion/get_data_form/',{"cliente":$("#id_cliente").val()}, function(content){
                        $('#id_servicio').html('');
                        $('#id_consignatario').html('');
                        $('#id_caja').html('');

                        $("<optgroup label='Servicios de Cruce' id='id_cruce_option'></optgroup>").appendTo("#id_servicio");
                        $.each(content['cruce'], function(i, item) {
                            $("<option value='" +item[0]+ "'>" +item[1]+ "</option>").appendTo("#id_cruce_option");});
                        $("<optgroup label='Servicios Extras' id='id_extra_option'></optgroup>").appendTo("#id_servicio");
                        $.each(content['extra'], function(i, item) {
                            $("<option value='" +item[0]+ "'>" +item[1]+ "</option>").appendTo("#id_extra_option");
                        });
                        $.each(content['consig'], function(i, item) {
                            $("<option value='" +item[0]+ "'>" +item[1]+ "</option>").appendTo("#id_consignatario");
                        });
                        $.each(content['caja'], function(i, item) {
                            $("<option value='" +item[0]+ "'>" +item[1]+ "</option>").appendTo("#id_caja");
                        });
                    })
                    $('div.servicio').unblock();
                    $('div.consignatario').unblock();
                    $('div.caja').unblock();
                });
                $(".select2").select2();
                $('#id_fecha').datetimepicker({language:  'es', weekStart: 1, todayBtn:  1, autoclose: 1, todayHighlight: 1, startView: 2, forceParse: 0, showMeridian: 2 });
            });
        </script>
{% endblock %}