<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h3><b>FACTURA</b> <span class="pull-right">#5669626</span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                            <img src="/static/system/plugins/images/eliteadmin-logo-dark.png" alt="Home">
                            <p class="text-muted m-l-5" style="text-align: center;">505 Union Pacific Blvd.<br/>
                                Laredo, Texas,<br/>
                                78045 (956) 724-3400 </p>
                        </address>
                    </div>
                    <div class="pull-right text-right">
                        <address>
                            <h3>Cliente,</h3>
                            <h4 class="font-bold">{{ cliente }}</h4>
                            <p class="text-muted m-l-30">{{ cliente.direccion }} <br/>
                                {{ cliente.estado }} - {{ cliente.cpostal }}, <br/>
                                {{ cliente.get_pais_display }}</p>
                            <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> 23rd Jan 2017</p>
                            <p><b>Due Date :</b> <i class="fa fa-calendar"></i> 25th Jan 2017</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                <h3 class="box-title m-b-0">Operaciones</h3>
                    <div class="table-responsive m-t-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Servivio</th>
                                <th class="text-center">IVA</th>
                                <th class="text-right">Importe USD</th>
                                <th class="text-right">Importe MX</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for l in operaciones %}
                                <tr>
                                    <td class="text-center">{{ l.id }}</td>
                                    <td class="text-center">{{ l.fecha|date:"D d M Y" }}</td>
                                    <td class="text-center">{{ l.servicio }}</td>
                                    <td class="text-center">{% if l.servicio.iva %}<i class="fa fa-check-square-o text-success"></i>{% else %}<i class="fa fa-times-circle text-danger">{% endif %}</td>
                                    <td class="text-center">{{ l.importeusd }}</td>
                                    <td class="text-center">{{ l.importemxn }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total amount: $1600</p>
                        <p>vat (10%) : $160 </p>
                        <hr>
                        <h3><b>Total :</b> $1760</h3></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>