<form action="" id="sello-form" data-toggle="validator" method="post">{% csrf_token %}
    <div class="row">
        {% for field in form_sello %}
            {% if field.name == "operacion" %}
                {{ field }}
            {% else %}
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">{{ field.label_tag }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {% for f in field.errors %}
                                <span class="alert-block"><small>{{ f|safe }}</small></span>
                            {% endfor %}
                        {% else %}
                            {% if field.help_text %}
                                <span class="help-block"><small>{{ field.help_text|safe }}</small></span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</form>


