{% extends "base.html" %}



{% block main-content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <form id="form_servicio_id" action="" data-toggle="validator" method="post">{% csrf_token %}
                            <div class="form-body">
                                <h3 class="box-title">{% if accion == 'update' %}Editar Servicio{% else %}Agregar
                                    Servicio{% endif %}</h3>
                                <hr>
                                <div class="skin skin-flat">
                                    <div class="form-group">
                                        <label>Escoga el tipo de moneda a facturar:</label>
                                        <div class="input-group">
                                            <ul class="icheck-list">
                                                <li>
                                                    <input type="radio" class="check" id="moneda-mxn"
                                                           name="moneda-radio" value="MXN"
                                                           data-radio="iradio_flat-blue"
                                                           onchange="javascript:habilita_pago($(this));">
                                                    <label for="flat-radio-1">Peso Mexicano</label>
                                                </li>
                                                <li>
                                                    <input type="radio" class="check" id="moneda-usd"
                                                           name="moneda-radio" value="USD"
                                                           data-radio="iradio_flat-blue"
                                                           onchange="javascript:habilita_pago($(this));">
                                                    <label for="flat-radio-2">Dolar</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for field in form %}
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {% if  field.name == "importemx" %}
                                                    <div id="cont-importemx">
                                                        <label class="control-label">{{ field.label_tag }}</label>
                                                        <div class="input-group" style="margin-bottom: 25px;"> <span
                                                                class="input-group-btn">
                                                          <button type="button"
                                                                  class="btn waves-effect waves-light btn-info"><i
                                                                  class="fa fa-dollar"></i></button>
                                                          </span>
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                                {% elif  field.name == "importeusd" %}
                                                    <div id="cont-importeusd">
                                                        <label class="control-label">{{ field.label_tag }}</label>
                                                        <div class="input-group" style="margin-bottom: 25px;"> <span
                                                                class="input-group-btn">
                                                          <button type="button"
                                                                  class="btn waves-effect waves-light btn-info"><i
                                                                  class="fa fa-dollar"></i></button>
                                                          </span>
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <label class="control-label">{{ field.label_tag }}</label>
                                                    {{ field }}
                                                {% endif %}
                                                {% if field.errors %}
                                                    {% for f in field.errors %}
                                                        <span class="alert-block"><small>{{ f|safe }}</small></span>
                                                    {% endfor %}
                                                {% else %}
                                                    {% if field.help_text %}
                                                        <span class="help-block"><small>{{ field.help_text|safe }}</small></span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Agregar
                                </button>
                                <button type="button" class="btn btn-default" onclick="window.history.go(-1);">
                                    Cancelar
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block css %}
    <link href="/static/system/plugins/bower_components/switchery/dist/switchery.min.css" rel="stylesheet"/>
    <link href="/static/system/plugins/bower_components/custom-select/custom-select.css" rel="stylesheet"
          type="text/css"/>
    <link href="/static/system/plugins/bower_components/icheck/skins/all.css" rel="stylesheet">


{% endblock %}
{% block js %}
    <script src="/static/system/plugins/bower_components/switchery/dist/switchery.min.js"></script>
    <script src="/static/system/plugins/bower_components/custom-select/custom-select.min.js"
            type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            if ($("#id_importemx").val() > 0) {
                $("#id_importemx").prop('disabled', false)
                $("#moneda-mxn").prop('checked', true)
            }
            if ($("#id_importeusd").val() > 0) {
                $("#id_importeusd").prop('disabled', false)
                $("#moneda-usd").prop('checked', true)
            }
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
            $(".select2").select2();
        });

        function habilita_pago(option) {
            if (option.val() == 'MXN') {
                $("#id_importeusd").prop('disabled', true);
                $("#id_importeusd").prop('value', 0);
                $("#id_importemx").prop('disabled', false);
            } else if (option.val() == 'USD') {
                $("#id_importemx").prop('disabled', true);
                $("#id_importemx").prop('value', 0);
                $("#id_importeusd").prop('disabled', false);
            }
        }

        $("#form_servicio_id").submit(function (event) {
                $("#id_importemx").prop('disabled', false);
                $("#id_importeusd").prop('disabled', false);
            return;});



    </script>
{% endblock %}




